.container-login-page {
  display: flex;
  flex-flow: row nowrap;
  height: 88vh;
  /*  align-items: center;
  justify-content: center; */
  & .container-imagem {
    width: 41vw;
    height: 100%;
    & img {
      width: inherit;
      height: inherit;
      border: inherit;
    }
  }
  & .container-login-pai {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;
    & .container-login {
      border-radius: 2.5rem;
      background-color: var(--cor2-obeci);
      width: 64.3rem;
      height: 68.1rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding: 5rem 0;
      & h1 {
        font-size: 9.6rem;
        font-weight: normal;
      }

      & .bloco-form {
        margin-top: 1.5rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 42rem;
        & .label-input {
          font-size: 3.6rem;
        }
        & .input-form-login {
          padding: 2.5rem;
          width: 40.3rem;
          margin-left: 1rem;
          height: 5.9rem;
          border-radius: 5rem;
          border: 1px solid black;
          box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          font-size: 2.6rem;
          color: #6d6d6d;
        }
        & .forgotpassword-button {
          font-size: 1.8rem;
          margin: 0.5rem;
          text-decoration: underline;
          align-self: flex-end;
        }
      }
      & .login-button {
        margin-top: 4rem;
        width: 35rem;
        height: 6rem;
        background-color: var(--cor4-obeci);
        border: solid 1px black;
        border-radius: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        transition: ease-in-out 0.3s all;
        &:hover {
          cursor: pointer;
          background-color: var(--cor3-obeci);
        }
      }
    }
  }
}
