@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.title-obeci {
    font-family: "Nunito";
    font-size: 6.72rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}