:root {
  --background: #ffffff;
  --foreground: #171717;
  --cor1-obeci: #fedfcd;
  --cor2-obeci: #f2b694;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */
