.container-principal-turmas {
  /*  width: 90%;
  margin: 0 auto; */
  & .container-lembrete-turmas {
    width: inherit;
    height: inherit;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    margin: 2.5rem 2.5rem;

    & .container-header-turmas {
      /* background-color: black; */
      & .container-texto {
        margin-left: 2.5rem;
      }
      width: 87.5%;
      height: 79.9rem;

      & .container-turmas {
        height: 80%;
        width: 100%;
        padding: 2.5rem;
        justify-content: center;
        display: flex;
        gap: 6rem;
        flex-flow: row wrap;
        overflow-x: auto;
      }
    }
  }
}

.lembrete {
  width: 49.9rem;
  height: 79.9rem;
  background: var(--cor2-obeci);
  border-radius: 5rem;
}
