.header-obeci {
  width: 100%;
  height: 12%;
  background-color: var(--cor1-obeci);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  & .container-imagem-obeci {
    width: 22.6rem;
    height: 11.7rem;
    & img {
      width: inherit;
      height: inherit;
    }
  }

  & .nav-vazia {
  }
}
