.header-obeci {
  width: 100%;
  height: 12dvh;
  background-color: var(--cor1-obeci);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  & .container-imagem-obeci {
    width: 22.6rem;
    height: 11.7rem;
    & img {
      width: inherit;
      height: inherit;
    }
  }

  & .nav-vazia {
    display: flex;
    align-items: center;
    justify-content: center;
    & .bloco-logout {
      border-radius: 5rem;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: ease-in all 0.2s;
      &:hover {
        background-color: rgba(255, 255, 255, 0.548);
        cursor: pointer;
      }
    }
  }
}
